<h1> Hey, user! </h1>

<%= form_with model: @user do |form| %>
  <%= form.text_field :username, placeholder: "Username" %>
  <%= form.email_field :email, placeholder: "John@example.com" %>
  <%= form.password_field :password, placeholder: "***********" %>
  <%= form.submit "Sign-Up" %>
<% end %>





